@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-div {
  padding: 10px 40px;
  background-color: #ccc;
}

section {
  max-width: 70%;
}
